{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMW Activities</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/timer.css' %}">
</head>
<body>
    <body>
        <div class="container1">
            <h1 class="screen">
                <span id="hours">
                    00
                </span>
                :<span id="minutes">
                    00
                </span>
                :<span id="seconds">
                    00
                </span>
            </h1>
            <div class="buttons">
                <button id="start">START</button>
                <button id="stop">STOP</button>
                <button id="reset">RESET</button>
            </div>
        </div>
    <div class="container2">
        <div class="header">
            <div class="clear">
                <i class="fa fa-refresh"></i>
            </div>
            <div id="date"></div>
        </div>
        <div class="content">
            <ul id="list">
                <!-- <li class="item">
                    <i class="fa ${DONE}" job="complete" id="${id}"></i>
                    <p class="text ${LINE}">${toDo}</p>
                    <i class="fa fa-trash-o de" job="delete" id="${id}"></i>
                </li> -->
            </ul>
        </div>
        <div class="add-to-do">
            <i class="fa fa-plus-circle"></i>
            <input type="text" id="input" placeholder="Add your activity here.">
        </div>
    </div>
    <script src="{% static 'js/timer.js' %}"></script>
    <script src="{% static 'js/whatodoapp.js' %}"></script>
</body>
</html>
